<!DOCTYPE html>
<header th:replace="header.html :: header"></header>
<body>

<div th:fragment="todos-list" id="todos-list">
    <div th:each="todo: ${todos}" th:insert="todo-item.html :: todo-item"></div>
</div>

<div th:fragment="todos-form"
     id="todos-form"
     hx-swap-oob="true"
     class="todos-form">

    <div class="todo line ">

        <div class="title">
            <input type="text" name="new-todo" id="new-todo" required/>
        </div>

        <div class="buttons">
            <button
                hx-include="#new-todo"
                hx-post="/todos"
                hx-target="#todos-list"
                hx-swap="beforeend">
                Add
            </button>
        </div>

    </div>
</div>

<div class="line">
    <button hx-post="/todos/reset"
            hx-target="#todos-list">
        Reset All
    </button>
</div>

</body>
</html>
